.input-container {
    display: flex;
    flex-direction: column;
    margin:2em;
  }

  .upload-image-placeholder{
      width:100%;
  }

  .go-button{
      padding:2em;
      text-align:center;
  }

