html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.full-height{
    min-height:74%;
    overflow: scroll;
}

.fab-button{
    margin: 1em;
    position: fixed;
    right: 0px;
    bottom:0px;
}

.voted_image{
    opacity:0.5;
}
